.my-pic {
    width: 23%;
    height: 10%;
    object-fit: cover;
    box-shadow: 6px 7px 7px;
    
}
.pics{
    width: 60%;
    height: 60%;
    object-fit: cover;
    
}
body{
    background-image: url("./images/Plain-White-Wllpaper-.jpg");
    background-attachment:fixed;
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    /* object-fit: fixed; */
}
.whiteback{
    background-color: aliceblue;
    box-shadow: 2px 5px 17px;
}
.textCenter{
    text-align: center;
}
.frontText {
   text-shadow:  2px -1px 5px black;
}